<p id="notice"><%= notice %></p>

<p>
  <%= @post.caption %>
  <%= image_tag(@post.image.url) %>
  <%=@post.user.username %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
